
$xlarge: 1281px;
$large: 1053px;
$medium: 737px;
$small: 481px;
$xsmall: 361px;

$c-bg: #c0655f; /* #9b534e;  */
$c-bg-highlight: #9b534e;
$c-bg-highlight-2: #9e3b34;
$c-text-headers: #222;
$c-highlighter: #fffa79;
$c-rgba-bg: rgba(123, 65, 61, 0.3);
$c-non-rgba-bg: #dfc6c4;

$transition-pref: ease-in-out;

