@import 'arbutus-vars.scss';

.loader-container {
    background: $c-bg;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: 400ms $transition-pref;
    display: table;
}
.loader-container--hide {
    transform: translate(100em, 0);
}

.loader-text {
    display:table-cell;
    vertical-align:middle;
    text-align:center;
    font-family: Helvetica, sans-serif;
    font-size: 3em;
    font-weight: 700;
    line-height: 1.1;
    margin: 0 0 1.5rem 0;
    text-transform: none;
    color: #222;
    &::before {
        content: "WELCOME";
        letter-spacing: 1em;
    }
}

.loader {
    position: absolute;
    top: calc(50% - 4em);
    left: calc(50% - 4em);
    width: 6em;
    height: 6em;
    border: 1.1em solid rgba(0, 0, 0, 0.2);
    border-left: 1.1em solid #000000;
    border-radius: 50%;
    animation: load8 1.1s infinite linear;
    
  }
  
  
  
  @keyframes load8 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }


h1, h2, h3, h4, h5, h6 {
    color: $c-text-headers;
}
input[type="submit"], input[type="reset"], input[type="button"], 
input[type="submit"].primary, input[type="reset"].primary, input[type="button"].primary,
    button, .button, button.primary, .button.primary {
    border-radius: 0;
    background-color: $c-bg;
}

input[type="submit"].primary:hover, input[type="reset"].primary:hover, input[type="button"].primary:hover, button.primary:hover, .button.primary:hover {
    background-color: $c-bg-highlight;
}

input[type="text"], input[type="password"], input[type="email"], 
    input[type="tel"], input[type="search"], input[type="url"], 
    select, textarea {
    border-radius: 0;
}
#wrapper {
    &:before {
        background-image: none; /* url('../../images/rose_outline.svg'); */
        background-color: $c-bg;
    }
}

#wrapper {
    section {
        > header {
            background-image: none;
            background-color: $c-bg;
            &:before {
                background: $c-bg-highlight;
            }
            h1, h2 {
                &:before {
                    background: $c-bg-highlight;
                }
                &:after {
                    background: $c-bg-highlight;
                }
            }
            p {
                color: $c-text-headers;          
            }
            a {
                margin: 0 0 2em 0;
            }
            .header-text-grouping {
                font-family: "Raleway", Helvetica, sans-serif;
                font-size: 0.8rem;
                letter-spacing: 0.175em;
                line-height: 1.5;
                text-transform: uppercase;
                li {
                    list-style: none;
                    margin: 0 0 2em 0;
                }
            }
        }
        &:last-of-type {
            > header {
                &:after {
                    background: $c-bg-highlight;
                }
            }
        }
    }
}

.the-rose {
    position: fixed;
    top: 100;
    left: 0;
    width: 50%;
    opacity: 0.1;
}