@import 'arbutus-vars.scss';

#wrapper section > header h2.img-header {
    margin: 0 0 1em 0;
}

ul.feature-icons li {
    width: 100% !important;
    &::before {
        height: 2.25em;
        line-height: 2.25em;
        width: 2.25em;
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 512 512'%3E%3Cpath d='M256,0l221.7,128v256L256,512L34.3,384V128L256,0z' fill='rgba(123, 65, 61, 0.3)' /%3E%3C/svg%3E");
    }
} 

.image.main.img-no-margin {
    display: block;
    margin: 0;
    width: 100%;
}

.tour-listing {
    border-bottom: none;
    width: 100%;
}

.tour-listing > .tour-details {
    transition: background-color 400ms $transition-pref;
    &:hover {
        background-color: $c-non-rgba-bg;
    }
}

.tour-details {
    border: 1px $c-text-headers dashed;
    padding: 1em;
    margin-bottom: 2em;
    width: 100%;
    position: relative;
}
.tour-city {
    font-size: 1em;
    margin: 0;
}

.tour-meta {
    font-size: 0.8em;
    margin: 0;
    line-height: 0.8em;
    font-family: 'Source Sans Pro';
    background-color: $c-highlighter;
    padding: 0.2em 0;
}

.show-listing {
    position: absolute;
    right: -0.7em;
    bottom: -1.1em;
    cursor: pointer;
    padding: 0;
    background-color: none;
    display: inline-block;
    margin: 0.7em 0 0 0;
    font-size: 0.8em;
    font-weight: bold;
    margin: 0;
    line-height: 0.8em;
    font-family: 'Source Sans Pro';
    color: #fff;
}
.tour-venue {
    font-family: 'Source Sans Pro';
    font-style: italic;
    letter-spacing: 0.1em;
    font-size: 1em;
    padding: 0;
    background-color: none;
}
